 html, body {
	height:100%;
	overflow-y:hidden;
}

hr {
	margin-top: 0px;
	margin-bottom: 10px;
}

.shotInfo h4 {
	margin-top:0px;
}

.wrapper {
	position: absolute;
	top: 115px;
	bottom: 150px;
	left: 0;
	right:0;
}

#content {
    top: 1px;
	bottom: 0px;
	position: absolute;
	left: 0;
	right: 0;
}

#map_canvas { 
	height: 100%;
}

.scrollable {	
	max-height: 100%;
	overflow-y: scroll;
}

#shotBar {
	height: 150px;
	padding:10px 0px 10px 10px;
	background: #eee;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	position: absolute;
  	bottom: 0;
	white-space: nowrap;
}

.shotInfo {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	padding:10px;
	background: #ffffff;
	width:100%;
	max-width: 300px;
}

#noShots {
	text-align: center;
	color:#999;
	margin:auto;
}

.glyphicon-edit {
	color:#666666;
	cursor: pointer;
	font-size: 18px;
}

.glyphicon:hover {
	color:#000000;
}